<%= link_to prototype_path(prototype), class: "card" do %>
  <%# 画像部分 %>
  <% if prototype.image.attached? %>
    <%= image_tag prototype.image, class: :card__img %>
  <% else %>
    <%= image_tag "sample.png", class: :card__img %>
  <% end %>

  <%# 本文部分 %>
  <div class="card__body">
    <h3 class="card__title"><%= prototype.title %></h3>
    <p class="card__summary"><%= prototype.catch_copy %></p>
    <p class="card__user">by <%= prototype.user&.name || "No User" %></p>
  </div>
<% end %>