<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <!-- タイトル -->
        <%= @prototype.title %>
      </p>

      <!-- 投稿者リンク -->
      <%= link_to "by #{@prototype.user.name}", user_path(@prototype.user), class: :prototype__user %>

      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if current_user == @prototype.user %>
        <div class="prototype__manage">
          <!-- リンク先を edit_prototype_path に -->
          <%= link_to "編集する", edit_prototype_path(@prototype), class: :prototype__btn %>
          <!-- 削除リンク -->
          <%= link_to "削除する", prototype_path(@prototype), 
              method: :delete,
              data: { confirm: "本当に削除しますか？" }, 
              class: :prototype__btn %>
        </div>
      <% end %>

      <div class="prototype__image">
        <%= image_tag url_for(@prototype.image) if @prototype.image.attached? %>
      </div>

      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <!-- 修正 -->
          <p class="detail__message">
            <%= @prototype.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <!-- 修正 -->
          <p class="detail__message">
            <%= @prototype.concept %>
          </p>
        </div>
      </div>

      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with model: [@prototype, Comment.new], local: true do |f| %>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id: "comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn %>
            </div>
          <% end %>
        <% end %>

        <ul class="comments_lists">
          <% @prototype.comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content %>
              <%= link_to "(#{comment.user.name})", user_path(comment.user), class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
